body {
    background-color: rgb(248, 202, 209);
}

.retangulo {
    background-color: rgb(223, 126, 165);
    width: 450px;
    height: 650px;
    position: relative;
    top: 25px;
    left: 0px;
    border-radius: 10px;
    border: 10px solid rgb(198, 100, 144);
    box-shadow: 
        0 0 10px rgb(156, 70, 114),
        0 0 20px rgb(156, 70, 114),
        0 0 40px rgb(156, 70, 114);
}
 
.player {
    position: relative;
    top: 25px;
    left: -25px;
}

.retangulo2 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 14px;
    color: aliceblue;
    text-align: center;
    /* position: relative;
    top: -500px; */
    text-shadow: 
    0 0 5px #a9456c,
    0 0 10px #f49cbe,
    0 0 20px #f49cbe;
    height: 100px;
    width: 400px;
    background-color: #f49cbe;
    position: relative;
    top: -590px;
    left: 0px;
    border-radius: 20px 20px 0 0;
    box-shadow: 
        0 0 10px rgb(222, 127, 176),
        0 0 10px rgb(156, 70, 114),
        0 0 20px rgb(156, 70, 114);
}

#icone1 {
    position: relative;
    top: -20px;
    left: 160px;
}

h2 {
    position: relative;
    top: 150px;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 22px;
    color: aliceblue;
}

.retangulo3 {
    height: 380px;
    width: 400px;
    background-color: rgb(247, 146, 182);
    position: relative;
    top: -480px;
    left: 0px;
    box-shadow: 
        0 0 10px rgb(222, 127, 176),
        0 0 10px rgb(156, 70, 114),
        0 0 20px rgb(156, 70, 114);
}

.retangulo4 {
    height: 150px;
    width: 150px;
    background-color: rgb(255, 180, 213);
    position: relative;
    top: 10px;
    left: -110px;
    border-radius: 10px;
    
}

.retangulo5 {
    width: 200px;
    height: 20px;
    background-color: rgb(255, 180, 213);
    position: relative;
    left: 85px;
    top: -90px;
    border-radius: 5px;
}

.p1 {
    font-family: "VT323", monospace;
    font-size: 28px;
    color: aliceblue;
    position: relative;
    top: -30px;
}

#retangulo6 {
    position: relative;
    top: -65px;
    height: 25px;
}

.retangulo7 {
    width: 350px;
    height: 20px;
    background: linear-gradient(to right,rgb(255, 180, 213) 40%,rgb(212, 121, 168)30% );
    position: relative;
    left: 0px;
    top: 5px;
    border-radius: 15px;
}

#p2 {
    position: relative;
    top: -65px;
    left: 240px;
}

#p3 {
    font-size: 22px;
    position: relative;
    top: 25px;
    left: 50px;
}

.icones {
    color: #efe6e9;
    text-shadow: 
        0 0 10px rgb(222, 127, 176),
        0 0 10px rgb(156, 70, 114),
        0 0 20px rgb(156, 70, 114);
}

#icone2 {
    position: relative;
    top: -55px;
    left: 50px;
}

#icone3 {
    position: relative;
    top: -55px;
    left: 110px;
}

.p4 {
    font-size: 60px;
    font-weight: 900px;
    position: relative;
    top: 35px;
    left: 270px;
}

.pacman {
    height: 130px;
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 5px;
}

.back {
    position: relative;
    left: 10px;
    top: -48px;
    color: #efe6e9;
    font-family: "VT323", monospace;
}

.esther {
    position: relative;
    top: -32px;
    left: 10px;
    color: #efe6e9;
    font-family: "VT323", monospace;
}