.body-f4 {
    background-color: #a262b6;
}
.h1-f4 {
    text-align: center;
    position: relative;
    top: 60px;
    left: 600px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(87, 14, 72);
    background-color: #9649b9;
    display: inline;
    font-family: "SUSE Mono", monospace;
}
.p1-f4 {
    width: 600px;
    text-align: center;
    position: relative;
    left: 500px;
    top: 100px;
    background-color: #9649b9;
    color: #fbf0fa;
    text-shadow: 1px 1px 2px rgb(87, 14, 72);
    font-family: "SUSE Mono", monospace;
}
.p2-f4 {
    width: 600px;
    text-align: center;
    position: relative;
    left: 450px;
    top: 100px;
    background-color: #9649b9;
    color: #fbf0fa;
    text-shadow: 1px 1px 2px rgb(87, 14, 72);
    font-family: "SUSE Mono", monospace;
}
.p3-f4 {
    width: 600px;
    text-align: center;
    position: relative;
    left: 450px;
    top: 100px;
    background-color: #9649b9;
    color: #fbf0fa;
    text-shadow: 1px 1px 2px rgb(87, 14, 72);
    font-family: "SUSE Mono", monospace;
}
.img1-f4 {
    margin-left: 570px;
    margin-top: 100px;
}
.img2-f4 {
    margin-left: 250px;
    margin-top: 100px;
    width: 500px;
    position: relative;
    left: 280px;
}
.img3-f4 {
    margin-left: 500px;
    margin-top: 100px;
    position: relative;
    left: 100px;
}
.h2-f4 {
    width: 100px;
    text-align: center;
    position: relative;
    left: 720px;
    top: 100px;
    background-color: #9649b9;
    color: #fbf0fa;
    text-shadow: 1px 1px 2px rgb(87, 14, 72);
    font-family: "SUSE Mono", monospace;
}
.h2-2-f4 {
    width: 150px;
    text-align: center;
    position: relative;
    left: 590px;
    top: 100px;
    background-color: #9649b9;
    color: #fbf0fa;
    text-shadow: 1px 1px 2px rgb(87, 14, 72);
    font-family: "SUSE Mono", monospace;
}

#p3 {
    position: relative;
    left: 500px;
}

#h23 {
    position: relative;
    left: 700px;
}