.tabuleiro {
    height: 800px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 
        0 0 10px rgb(156, 70, 114),
        0 0 20px rgb(156, 70, 114),
        0 0 40px rgb(156, 70, 114);
    position: relative;
    left: 450px;
    top: 50px;
}

body {
    background-color: rgb(224, 144, 177);
}

.fase1 {
    position: relative;
    left: 310px;
    top: -270px;
    color: rgb(222, 104, 145);
}

.fase2 {
    position: relative;
    left: 450px;
    top: -390px;
    color: rgb(222, 104, 145);
}

.fase3 {
    position: relative;
    left: 350px;
    top: -505px;
    color: rgb(222, 104, 145);
}

#coroa1 {
    position: relative;
    left: -230px;
    top: 8px;
    transition: transform 0.3s ease;
}

#coroa2 {
    position: relative;
    right:300px;
    top: 15px;
    transition: transform 0.3s ease;
}

#coroa3 {
    position: relative;
    left: -360px;
    top: 7px;
    transition: transform 0.3s ease;
}

.fa-crown:hover {
    transform: scale(1.15);
    color: rgb(211, 22, 123);
}

#elementos {
    display: flex;
    justify-content: center;
}

.h1_mapa1 {
    color: aliceblue;
    position: relative;
    top: 20px;
    left: 600px;
    text-shadow: 2px 2px 5px rgb(87, 14, 72);
}

