* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    list-style: none;
    padding: 0;
    background-color: #001449;
    text-align: right;
}

#menu li{
    display: inline;
    border-left: 2px solid #ffffff;
}

#menu li a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#menu li a:hover {
    background-color: #012677;
}