* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    list-style: none;
    padding: 0;
    background-image: linear-gradient(90deg, #c54d95, #8242b6);
    text-align: right;
}

#menu li{
    display: inline;
    border-left: 2px solid #ffffff;
}

#menu li a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#menu li a:hover {
    background-color: #640852;
}

body {
    background-image: linear-gradient(90deg, #e085c9, #a966c8);
}
.titulo1 {
    position: relative;
    text-align: center;
    margin-right: 410px;
    top: 220px;
    font-size: 70px;
    font-family: 'Press Start 2P', sans-serif;
    color: #843fac;
    text-shadow: 2px 2px 5px rgb(132, 21, 109);
}
.titulo2 {
    position: relative;
    text-align: center;
    top: 270px;
    font-size: 40px;
    font-family: 'Press Start 2P', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(87, 14, 72);

}
.brilho {
    font-size: 20px;
    margin-left: 250px;
    color: antiquewhite;
}
.retangulo1 {
    width: 250px;
    height: 60px;
    background-color: #b717a1;
    position: relative;
    top: 180px;
    transition: transform 0.3s ease;
}

.iniciar {
    position: relative;
    left: 10px;
    top: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Press Start 2P', sans-serif;
}

.retangulo1:hover {
    background-color: #d956bf;
    transform: scale(1.15);
}

.img {
    height: 120px;
    position: relative;
    left: 850px;
    top: 60px;
}

#inicio {
    position: relative;
    top: 350px;
    left: 550px;
    background-color: #640852;
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

#link:hover{
    transform: scale(1.15);
}

@media (max-width:  1280px) {
    .img {
        left: 550px;
    }
}

@media (min-width:  1280px) {
    .img {
        left: 1050px;
    }
}
