* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    list-style: none;
    padding: 0;
    background-image: linear-gradient(90deg, #720ca0, #892855);
    text-align: right;
}

#menu li{
    display: inline;
    border-left: 2px solid #ffffff;
}

#menu li a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#menu li a:hover {
    background-color: #640852;
}

body {
    background-image: linear-gradient(90deg, #a549d0, #fa63aa);
}

h1 {
    position: relative;
    text-align: center;
    top: 250px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(87, 14, 72);

}

.retangulo1 {
    width: 200px;
    height: 100px;
    background-color: #b717a1;
    position: relative;
    top: 180px;
    border-radius: 25px;
    border: 3px solid;
    border-color: #ffffff;
    transition: transform 0.3s ease;
}

.iniciar {
    position: relative;
    left: 15px;
    top: 20px;
    text-decoration: none;
    font-size: 45px;
    color: #ffffff;
}

.retangulo1:hover {
    background-color: #640852;
    transform: scale(1.15);
}

.img {
    height: 100px;
    position: relative;
    left: 590px;
    top: 80px;
}