<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Meu Card</title>
    <link rel="stylesheet" href="/static/card2.css">
    <link rel="stylesheet" href="/static/menu.css">
</head>
<body>

    <ul id="menu">
        <li><a href="/index.html">HOME</a></li>
        <li><a href="cards.html">CARD 1</a></li>
        <li><a href="card2.html">CARD 2</a></li>
        <li><a href="mapa1.html">MAPA 1</a></li>
        <li><a href="mapa2.html">MAPA2</a></li>
    </ul>

    <div class="retangulo">
        <h2>MISSÃO SEMESTRAL: <br><br> LEVEL UP!</h2>
    </div>

    <div class="retangulo2">
        <h1 class="player">PLAYER CARD</h1>
        <img src="fotos/pixel-art-removebg-preview.png" class="trofeu">
    </div>

    <div class="retangulo3">

        <div class="retangulo4">
            <img src="abigail.png" alt="" class="abigail">
        </div>

        <div class="retangulo5"> <p class="p1">NOME:</p> <p class="heloisa">Heloísa</p></div>

        <div class="retangulo6" id="retangulo6"><p class="p1">CLASSE:</p> <br> <p class="fullstack">Full Stack</p></div>

        <div class="retangulo7"><p class="p1">XP</p> <p class="p1" id="p2">120/300</p></div>

        <p class="p1" id="p3">CONQUISTAS DESBLOQUEADAS:</p>
        <div class="icones">
            <img src="fotos/estrela.png" class="estrela">
            <img src="fotos/medalha.png" class="medalha">
            <img src="fotos/Símbolo_Áureo_em_Pixel_Art-removebg-preview.png" class="barrinha">
        </div>
        
    </div>
</body>

</html>