<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/card.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/menu.css">
</head>
<body>
    <ul id="menu">
        <li><a href="index.html">HOME</a></li>
        <li><a href="cards.html">CARDS</a></li>
        <li><a href="mapa1.html">MAPA 1</a></li>
        <li><a href="mapa2.html">MAPA2</a></li>
    </ul>
    <div class="retangulo">
        <h2>MISSÃO SEMESTRAL: <br><br> LEVEL UP!</h2>
    </div>

    <div class="retangulo2">
        <h1 class="player">PLAYER CARD</h1>
        <i class="fa-solid fa-trophy fa-3x" id="icone1"></i>
    </div>

    <div class="retangulo3">

        <div class="retangulo4">
            <img src="pacman.jpg" alt="" class="pacman">
        </div>

        <div class="retangulo5"> <p class="p1">NOME:</p> <p class="esther">Esther</p></div>

        <div class="retangulo5" id="retangulo6"><p class="p1">CLASSE:</p> <br> <p class="back">BACKEND</p></div>

        <div class="retangulo7"><p class="p1">XP</p> <p class="p1" id="p2">120/300</p></div>

        <p class="p1" id="p3">CONQUISTAS DESBLOQUEADAS:</p>
        <div class="icones">
            <i class="fa-solid fa-star fa-3x" id="icone2"></i>
            <i class="fa-solid fa-medal fa-3x" id="icone3"></i>
            <p class="p4">&lt;/&gt;</p>
        </div>
        
    </div>
</body>
</html>