<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fase 1</title>
    <link rel="stylesheet" href="/static/fases.css">
    <link rel="stylesheet" href="/javascript/scripts.js">
</head>
<body class="body_f1">
    <h1 class="h1_f1">FASE 1: INTRODUÇÃO AO HTML</h1>

    <img src="/img/html-5.png" alt="" class="img_html">

    <br>

    <h2 class="titulo_texto">O que é o HTML?</h2>
    <br>
    <p class="texto">HTML é a linguagem de marcação usada para estruturar páginas da web. Com ele é possível organizar textos, imagens, links, tabelas e outros elementos que formam o conteúdo de um site. Ele funciona como a base da página, permitindo que navegadores interpretem e exibam as informações de forma compreensível para o usuário.
    </p>
    <img src="/img/html2.png" alt="" class="img1_fase1">
    <br>
    <h2 class="titulo_texto" id="tp2">Como se organiza o HTML?</h2>
    <br>
    <p class="texto" id="p2">O HTML se organiza por meio de tags, que são marcas usadas para indicar a função de cada parte do conteúdo. Essas tags normalmente vêm em pares, com uma de abertura e outra de fechamento, e dentro delas fica o conteúdo. A estrutura básica de um documento HTML começa com a definição do tipo de arquivo, seguida das partes principais: o head, que guarda informações sobre a página, e o body, onde ficam os elementos que aparecem para o usuário no navegador.
    </p>
    <img src="/img/html3.png" alt="" class="img1_fase1" id="img2_f2">
    <br>
    <h2 class="titulo_texto" id="tp3">As tags no HTML</h2>
    <br>
    <p class="texto" id="p3">As tags no HTML são comandos usados para marcar e organizar os elementos de uma página. Elas indicam ao navegador como cada parte do conteúdo deve ser exibida. Por exemplo, a tag &lt;p&gt; define um parágrafo, a &lt;h1&gt; a &lt;h6&gt; marcam títulos de diferentes níveis, a &lt;a&gt; cria links e a &lt;img&gt; insere imagens. A maioria das tags possui uma abertura &lt;tag&gt; e um fechamento &lt;/tag&gt;, envolvendo o conteúdo, mas algumas, como &lt;br&gt; e &lt;img&gt;, são usadas sozinhas. Assim, as tags são a base da construção de qualquer site em HTML.
    </p>
    <br>
    <table class="tabela1">
        <tr>
            <th colspan="2">PRINCIPAIS TAGS HTML</th>
            <td> </td>
        </tr>
        <tr>
            <td>html</td>
            <td>Define o início e o fim do documento HTML.</td>
        </tr>
        <tr>
            <td>head</td>
            <td>Contém informações sobre a página (título, meta dados, links de estilos, scripts).</td>
        </tr>
        <tr>
            <td>title</td>
            <td>Define o título que aparece na aba do navegador.</td>
        </tr>
        <tr>
            <td>body</td>
            <td>Parte visível da página, onde ficam os conteúdos.</td>
        </tr>
        <tr>
            <td>h1 a h6</td>
            <td>Títulos e subtítulos, do mais importante (h1) ao menos importante (h6).</td>
        </tr>
        <tr>
            <td>p</td>
            <td>Define um parágrafo de texto.</td>
        </tr>
        <tr>
            <td>a</td>
            <td>Cria links para outras páginas ou seções.</td>
        </tr>
        <tr>
            <td>img</td>
            <td>Insere imagens.</td>
        </tr>
        <tr>
            <td>br</td>
            <td>Quebra de linha.</td>
        </tr>
        <tr>
            <td>ul</td>
            <td>Lista não ordenada (com marcadores).</td>
        </tr>
        <tr>
            <td>ol</td>
            <td>Lista ordenada (com números).</td>
        </tr>
        <tr>
            <td>li</td>
            <td>Item de lista.</td>
        </tr>
        <tr>
            <td>table</td>
            <td>Cria tabelas.</td>
        </tr>
        <tr>
            <td>tr</td>
            <td>Linha da tabela.</td>
        </tr>
        <tr>
            <td>td</td>
            <td>Célula de tabela.</td>
        </tr>
        <tr>
            <td>th</td>
            <td>Cabeçalho da tabela.</td>
        </tr>
        <tr>
            <td>div</td>
            <td>Seção ou bloco de conteúdo.</td>
        </tr>
    </table>
    <br>
    <h2 class="titulo_texto" id="tp4">Os atributos</h2>
    <br>
    <p class="texto" id="p4">Os atributos no HTML são usados para complementar as tags, adicionando informações ou ajustando a forma como os elementos aparecem e funcionam na página. Eles sempre são escritos dentro da tag de abertura, no formato nome="valor". Por exemplo: Na tag &lt;a&gt;, o atributo href indica o endereço para onde o link vai direcionar. Na tag &lt;img&gt;, o atributo src define o caminho da imagem, enquanto alt descreve a imagem caso ela não carregue. Atributos como id e class ajudam a identificar e organizar os elementos, sendo muito usados junto com o CSS e JavaScript. Com os atributos, o HTML se torna mais flexível, permitindo que os elementos tenham características e comportamentos específicos.</p>
    <br>
    <p class="texto" id="p5">PARABÉNS! VOCÊ CHEGOU AO FIM DA PRIMEIRA FASE DA UNIDADE 1!!!</p>
    <br>
    <div class="concluirf">
        <a href="/templates/mapa1.html" class="concluir" id="concluirf1">CONCLUIR FASE</a>
    </div>
<script>
    // Marca que a página 2 foi visitada
    marcarPaginaVisitada("pagina2Visitada");
  </script>
</body>
</html>