<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fase 4 </title>
    <link rel="stylesheet" href="/static/fases2.css">
</head>
<body class="body-f4">
    <h1 class="h1-f4">Pincipais tags HTML</h1>
    <h2 class="h2-f4">Imagens</h2>
    <p class="p1-f4">
         A tag &lt;img&gt; é usada para inserir imagens em uma página HTML. Ela precisa do atributo src para indicar o arquivo da immagem e alt para descrever o conteúdo caso ela nao consiga.
    </p>
    <img src="/img/img-tag.gif" class="img1-f4">
    <h2 class="h2-f4">Tabelas</h2>
    <p class="p1-f4">
        As tabelas em HTML são criadas com a tag &lt;table&gt; e organizadas em linhas (&lt;tr&gt;) e colunas (&lt;td&gt;), servindo para exibir dados de forma estruturada, como planilhas e horários.
    </p>
    <img src="/img/tabela-tag.png" class="img2-f4">
    <h2 class="h2-2-f4" id="h23">Formulários</h2>
    <p class="p1-f4" id="p3">
        Os formulários (&lt;form&gt;) permitem coletar dados do usuário, como nome ou e-mail. Utilizam campos como &lt;input&gt;,&lt;textarea&gt; e &ltbutton&gt; para enviar as informações.
    </p>
    <img src="/img/form-tag.jpg" class="img3-f4">
</body>
</html>