<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fase 3</title>
    <link rel="stylesheet" href="/static/fases.css">
</head>
<body class="body_f1">
    <h1 class="titulo_texto" id="h1p3">FASE 3: INTRODUÇÃO AO JAVASCRIPT</h1>
    <br>
    <h2 class="titulo_texto" id="t2p3">Para que serve o JavaScript?</h2>
    <br>
    <p class="texto" id="p1p3">O JavaScript é uma linguagem de programação usada para tornar as páginas da web interativas e dinâmicas, com ele, é possível criar animações, validar formulários, responder a ações do usuário e atualizar partes da página sem precisar recarregá-la.
    Enquanto o HTML define o conteúdo e o CSS cuida do visual, o JavaScript é responsável pelo comportamento do site, tornando a navegação mais prática e interessante.
    </p>
    <br>
    <img src="/img/javascript-illustration-removebg-preview.png" alt="" class="img1p3">
</body>
</html>