<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fase 2</title>
    <link rel="stylesheet" href="/static/fases.css">
    <link href="https://fonts.googleapis.com/css2?family=SUSE+Mono:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body class="body_f1">
    <h1 class="h1_f1" id="h1fase2">FASE 2: INTRODUÇÃO AO CSS</h1>

    <h2 class="titulo_texto" id="t1p2">O que é o CSS?</h2>
    <br>
    <p class="texto" id="p1p2">O CSS (Cascading Style Sheets) é a linguagem responsável por definir o estilo e a aparência das páginas da web.
    Com ele, é possível controlar cores, fontes, tamanhos de texto, margens, espaçamentos, posicionamentos e até criar efeitos visuais e animações.
    O CSS trabalha junto com o HTML, que estrutura o conteúdo da página, enquanto o CSS cuida do design e da formatação.
    Dessa forma, os sites se tornam mais bonitos, organizados e agradáveis de usar, além de poderem se adaptar a diferentes tamanhos de tela, como computadores, tablets e celulares.
    </p>
    <br>
    <img src="/img/css-illustration-removebg-preview.png" alt="" class="imgcss1">
    <br>
    <h2 class="titulo_texto" id="t2p2">As três formas de incorporar o CSS:</h2>
    <br>
    <p class="texto" id="p2p2">CSS Inline:
    É aplicado diretamente dentro das tags HTML, usando o atributo style. Serve para formatar apenas um elemento específico. <br> Vantagem: rápido para ajustes simples. <br>
    Desvantagem: difícil de manter se o site tiver muitos estilos.</p>
    <br>
    <img src="/img/Captura_de_tela_2025-10-04_093243-removebg-preview.png" alt=""class="img2p2">
    <br>
    <p class="texto" id="p3p2">CSS Interno: Fica dentro da tag style no cabeçalho head do HTML. É útil quando o estilo é usado somente naquela página. <br> Vantagem: tudo está no mesmo arquivo. <br>
    Desvantagem: não é prático para sites com várias páginas.
    </p>
    <br>
    <img src="/img/cssincorporado.png" alt="" class="img3p2">
    <br>
    <p class="texto" id="p4p2">CSS Externo: O estilo é colocado em um arquivo separado (ex: style.css) e ligado ao HTML com a tag link. <br> Vantagem: facilita a manutenção e o reaproveitamento dos estilos. <br>
    Desvantagem: precisa carregar um arquivo a mais, mas é o método mais usado em sites reais.</p>
    <br>
    <img src="/img/htmlexterno.png" alt="" class="img4p2">
    <br>
    <img src="/img/cssexterno.png" alt="" class="img5p2">
</body>
</html>