<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fase 6 </title>
    <link rel="stylesheet" href="/static/fases2.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body class="body-f4">
    <h1 class="h1-2-f4">Você desbloqueou:</h1>
    <h1 class="h1-f4">★ Resumo geral ★</h1>
    <h2 class="h2-f4">HTML:</h2>
    <p class="p1-f4">HTML (HyperText Markup Language) é a linguagem usada para estruturar o conteúdo de páginas da web. Ela organiza os elementos que compõem um site, como títulos, textos, imagens, links, tabelas e formulários. Com o HTML, criamos a “ossatura” da página, ou seja, sua base estrutural. Cada elemento é definido por tags, que indicam ao navegador como aquele conteúdo deve ser exibido.</p>
    <img src="/img/hero-html_480-removebg-preview.png" class="img-html">
    <h2 class="h2-3-f4">CSS: </h2>
    <p class="p1-f4">
        CSS (Cascading Style Sheets) é a linguagem responsável pelo estilo e design das páginas web. Com o CSS, podemos alterar cores, tamanhos, fontes, margens e posicionamento dos elementos criados com HTML. Ele permite separar a parte visual da estrutura do site, tornando o código mais limpo e facilitando alterações no layout. Além disso, o CSS possibilita criar animações e efeitos visuais, deixando as páginas mais atrativas e modernas.
    </p>
    <img src="/img/hero-css-removebg-preview.png" class="img-css">
    <h2 class="h2-4-f4">JavaScript:</h2>
    <p class="p1-f4">
        JavaScript é a linguagem de programação usada para adicionar interatividade e dinamismo aos sites. Com ele, é possível responder a ações do usuário, como cliques e movimentos do mouse, atualizar partes da página sem precisar recarregá-la e até criar jogos e aplicativos completos. Enquanto o HTML define a estrutura e o CSS o estilo, o JavaScript traz vida e funcionalidade à página, tornando a experiência do usuário muito mais envolvente.</p>
    
    <img src="/img/hero-javascript_480-removebg-preview.png" class="img-js">
    
    <h2 class="h2-css">Para aprender mais você pode consultar: </h2>
    <br>
    <p class="p1-f4">HTML: <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTML"> A MDN Web Docs (HTML)</a> 
    é uma das melhores fontes para aprender HTML. Ela explica desde o básico, como tags e estrutura de uma página, até tópicos mais avançados com exemplos práticos.
    <br><br>
    CSS: O site <a href="https://www.w3schools.com/css/">W3Schools (CSS)</a>
    é ótimo para iniciantes. Ele oferece explicações simples, exemplos interativos e exercícios que ajudam a praticar o uso do CSS para estilizar páginas.
    <br><br>
    JavaScript: O curso gratuito <a href="https://javascript.info/">JavaScript.info</a>
    é uma excelente referência. Ele ensina a linguagem de forma progressiva, com explicações claras e exemplos que mostram como o JavaScript é usado no navegador.</p>
    <br><br>
    <br><br>
    <br><br>
    <div class="concluirf">
        <a href="./templates/fim.html" class="concluir" id="concluirf1">CONCLUIR MINICURSO</a>
    </div>
    <br>
</body>
</html>
    