<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fase 4 </title>
    <link rel="stylesheet" href="/static/fases2.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body class="body-f4">
    <h1 class="h1-2-f4">Você desbloqueou:</h1>
    <h1 class="h1-f4">★ HTML parte 2 ★</h1>
    <h2 class="h2-f4">Imagens</h2>
    <p class="p1-f4">
         A tag &lt;img&gt; é usada para inserir imagens em uma página HTML. Ela precisa do atributo essencial <b>src</b> para indicar o arquivo da imagem e alt para descrever o conteúdo caso ela nao consiga.
    </p>
    <br>
    <img src="/img/img-tag-removebg-preview.png" class="img2-f4" id="imgimg">
    <h2 class="h2-3-f4">Tabelas</h2>
    <p class="p1-f4">
        As tabelas em HTML são criadas com a tag &lt;table&gt; e organizadas em linhas (&lt;tr&gt;) e colunas (&lt;td&gt;), servindo para exibir dados de forma estruturada, como planilhas e horários.
    </p>
    <img src="/img/tabela-tag-removebg-preview.png" class="img2-f4">
    <img src="/img/seta-f4.png" class="seta-f4" id="seta">
    <img src="/img/tab-resultado-removebg-preview.png" class="img3-f4" id="img_tabela">
    <h2 class="h2-4-f4">Formulários</h2>
    <p class="p1-f4">
        Os formulários (&lt;form&gt;) permitem coletar dados do usuário, como nome ou e-mail. Utilizam campos como &lt;input&gt;,&lt;textarea&gt; e &lt;button&gt; para enviar as informações.
    </p>
        <pre>
        &lt;form&gt;
            &lt;label&gt;Enter Name:&lt;/label&gt;
            &lt;input type="text" name="name"&gt;&lt;br&gt;&lt;br&gt;

            &lt;label&gt;Enter Password:&lt;/label&gt;
            &lt;input type="password" name="password"&gt;&lt;br&gt;&lt;br&gt;

            &lt;input type="submit" value="Submit"&gt;
        &lt;/form&gt;
    </pre>
    <p class="obs-f4">★ <b>OBS:</b> a tag &lt;br&gt; foi usada como quebra de linha.</p>
    <img src="/img/form-tag.jpg" class="img4-f4">
    <!-- <img src="/img/seta-f4.png" class="seta-f4"> -->
    <h2 class="h2-css">HTML <b>não semântico</b></h2>
    <br>
    <p class="p1-f4">Utilizar tags genéricas como &lt;div&gt; e &lt;span&gt; para organizar e estilizar o conteúdo, sem adicionar contexto sobre o significado do elemento.</p>
    <br>
    <h2 class="h2-css">HTML <b>semântico</b></h2>
    <br>
    <p class="p1-f4">Usar elementos HTML para descrever o propósito e o significado do conteúdo, em vez de apenas sua aparência./p>
    <pre>
        <b>&lt;header&gt;:</b> Cabeçalho do site ou de uma seção.
        <br>
        <b>&lt;nav&gt;:</b> Menu de navegação.
        <br>
        <b>&lt;main&gt;:</b> Conteúdo principal da página.
        <br>
        <b>&lt;footer&gt;:</b> Rodapé do site ou de uma seção.
        <br>
        <b>&lt;article&gt;:</b> Conteúdo independente e autônomo, como um post de blog.
        <br>
        <b>&lt;h1&gt;</b> a <b>&lt;h6&gt;:</b> Títulos e subtítulos, definindo uma hierarquia.
    </pre>
    <br>
    <img src="/img/html-semantico-1-1024x1024-removebg-preview.png" alt="" id="htmlsemantico">
    <div class="concluirf">
        <a href="/templates/mapa2.html" class="concluir" id="concluirf4">CONCLUIR FASE</a>
    </div>

    <div class="concluirf">
        <a href="./templates/mapa2.html" class="concluir" id="concluirf1">CONCLUIR FASE</a>
    </div>
</body>
</html>

