<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fase 3</title>
    <link rel="stylesheet" href="/static/fases.css">
</head>
<body class="body_f1">
    <h1 class="titulo_texto" id="h1p3">FASE 3: INTRODUÇÃO AO JAVASCRIPT</h1>
    <br>
    <h2 class="titulo_texto" id="t2p3">Para que serve o JavaScript?</h2>
    <br>
    <p class="texto" id="p1p3">O JavaScript é uma linguagem de programação usada para tornar as páginas da web interativas e dinâmicas, com ele, é possível criar animações, validar formulários, responder a ações do usuário e atualizar partes da página sem precisar recarregá-la.
    Enquanto o HTML define o conteúdo e o CSS cuida do visual, o JavaScript é responsável pelo comportamento do site, tornando a navegação mais prática e interessante.
    </p>
    <br>
    <img src="/img/javascript-illustration-removebg-preview.png" alt="" class="img1p3">
    <br>
    <h2 class="titulo_texto" id="t3p3">Como usar o JavaScript:</h2>
    <br>
    <p class="texto" id="p2p3">Uma parte fundamental do JavaScript são as variáveis, que armazenam informações temporárias que podem ser usadas e alteradas pelo código. Variáveis podem guardar números, textos ou valores lógicos, permitindo que você faça cálculos ou manipule dados:</p>
    <br>
    <img src="/img/javascript1.png" alt="" class="img2p3">
    <br>
    <p class="texto" id="p3p3">Os tipos de dados são importantes para o JavaScript entender como trabalhar com as informações. Os mais comuns são string (texto), number (número), boolean (verdadeiro/falso), array (lista) e object (objeto). Por exemplo:</p>
    <br>
    <img src="/img/javascript2.png" alt="" class="img3p3">
    <br>
    <p class="texto" id="p4p3">As funções são blocos de código que realizam tarefas específicas e podem ser reutilizadas várias vezes. Elas ajudam a organizar o código e tornar a programação mais eficiente:</p>
</body>
</html>