<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/menu.css">
    <title>Fim do curso</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>
<body>
    
    <div class="retanguloexterno">
        <h1 class="titulo1">VOCÊ C0NCLUIU:</h1>
        <h1 class="titulo2">MINICURSO HTML, CSS E JAVASCRIPT!</h1>>

        <div id="link">
            <a href="./index.html" class="iniciar" id="inicio">VOLTAR AO INÍCIO</a>
        </div>
    </div>
</body>
</html>