<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mapa 2</title>
        <link rel="stylesheet" href="/static/menu.css">
        <link rel="stylesheet" href="/static/mapa2.css">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
        <ul id="menu">
            <li><a href="/index.html">HOME</a></li>
            <li><a href="./templates/cards.html">CARD 1</a></li>
            <li><a href="./templates/card2.html">CARD 2</a></li>
            <li><a href="./templates/mapa1.html">MAPA 1</a></li>
            <li><a href="./templates/mapa2.html">MAPA2</a></li>
        </ul>

        <h1 class="h1_mapa2">UNIDADE 2:</h1>

        <div class="elementos-m2">
            <img src="/img/tabuleiro2.png" class="tabuleiro2">

            <a href="fase4.html" class="fase4"><i class="fa-solid fa-heart" id="coracao"></i></a>

            <a href="fase5.html" class="fase5"><i class="fa-solid fa-heart" id="coracao2"></i></a>

            <a href="fase6.html" class="fase6"><i class="fa-solid fa-heart" id="coracao3"></i></a>
        </div>
    </body>
    </html>
